<?xml version="1.0"?>
<launch>
<arg name="amcl" default="true"/>
<arg name="robot_ID" default="Zordon"/>
<arg name = "map" default="lars"/>
<!-- **********************************************************************-->
<!-- *************************** HARDWARE STACK ***************************-->
<include file="$(find zordon_nav)/launch/hardware.launch">
    <arg name="robot_name" value="$(arg robot_ID)"/>
</include>
<!-- ********************************************************************** -->
<!--  ************************ LOCALIZATION STACK  ************************-->
<include unless="$(arg amcl)" file="$(find zordon_nav)/launch/ekf.launch">
    <arg name="robot_name" value="$(arg robot_ID)"/>
</include>
<!-- <include file="$(find zordon_nav)/launch/rtabmap_roboga.launch" >
    <arg name="robot_name"          value="$(arg robot_ID)"/>
    <arg name="camera"              value="camera"/>
    <arg name="approximate_sync"    value="true"/>
    <arg name="manager"             value="visual_manager"/>
</include> -->
<!-- ********************************************************************** -->
<!-- ************************* SLAM ou MAP SERVER ************************* -->
<include if="$(arg amcl)" file="$(find zordon_nav)/launch/amcl.launch">
	<arg name="robot_name" value="$(arg robot_ID)"/>
	<arg name = "map_name" value = "$(arg map)"/>
</include>
<include unless="$(arg amcl)" file="$(find zordon_nav)/launch/gmapping.launch">
	<arg name="robot_name" value="$(arg robot_ID)"/>
</include>
<!-- ********************************************************************** -->
<!-- ************************** NAVIGATION STACK ************************** -->
<include file="$(find zordon_nav)/launch/move_base.launch">
    <arg name="robot_name" value="$(arg robot_ID)"/>
</include>
<!-- ********************************************************************** -->
<!-- ************************ INTERFACE WEB STACK ************************* -->
<!---->
<!--<include file="$(find zordon_nav)/launch/web_interface.launch" > 
   <arg name="port_n" value="9090"/>
</include>-->
<!-- ********************************************************************** -->
<!-- ********************************************************************** -->

</launch>
